/*applies to any screen on any device*/
@media {

    img {
        width:100%;
    }

    .header {
        padding: 100px 0px 50px 0px;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        border-bottom-style: solid;
        color: white;
    }

    #header {
        background-color: #bcd4e6;
        border: 3px solid black;
        width: 100%;
        padding: 10px 0px 0px 0px;
    }

    .subheadline {
        color: white;
        text-shadow: black;
        padding: 20px 0px 20px 0px;
        font-family: 'Montserrat', serif;
    }

    .subhead {
        font-family: 'Montserrat', serif;
        text-indent: 20px;
    }

    .disclaimer {
        font-family: 'Montserrat', serif;
        border-bottom-style: solid;
        padding-bottom: 20px;
    }

    .author-info {
        font-family: 'Montserrat', serif;
        padding: 15px 0px 0px 0px;
    }

    .publish-date {
        font-family: 'Montserrat', serif;
    }

    .body {
        background-color: white;
    }

    #body-content {
        padding: 15px 0px 0px 0px;
        background-color: white;
    }

    .container-body {
        background-color: white;
        margin: 20px 0px 8px 0px;
        padding: 0px 0px 0px 0px;
    }
    
    .content{
        padding: 30px 0px 0px 0px;
    }

    p {
        font-family: 'Merriweather', serif;
    }

    #topper {
        height: 400px;
        background-image: url(teen\ mental\ health\ crisis\ NYT\ lead\ pic.png);
        background-size: cover;
        background-position: 30% 70%;
    }

    .how-reported {
        border-top: 3px solid black;
        padding: 30px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }

    .photo-caption {
        font-size: small;
    }

    h4 {
        text-indent: 50px;
        padding: 20px 20px 20px 20px;
        border-bottom: 3px #bcd4e6;
    }

    .pullquote {
        font-family: Georgia, serif;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
        border: 5px solid #bcd4e6;
    }

    .quote {
        font-family: Georgia, serif;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .quotemark {
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
        float: left;
    }

    /*make 100% in media queries*/
    .content {
        margin:auto;
        width:90%;
        padding: 0px 0px 20px 0px;
    }

    .attribution {
        font-family: Georgia, serif;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .footer {
        padding: 5px 5px 5px 5px;
        width: 100%;
        text-align: center;
    }
}

/*mobile styles start*/
@media (min-width: 576px) {

    .content {
        width:100%;
    }

}

/*big size styles start*/
@media (min-width: 992px) {

    .content {
        width:100%;
    }


}