/*
MY COLOR PALETTE
Color 1 - #f1dede
Color 2 - #bbacc1
Color 3 - #80727b
Color 4 - #909580
Color 5 - #545643
*/

.button {
    background-color: #545643;
    color: white;
    font-family: Georgia, serif;
    font-size: 30px;
    border: none;
    width: 200px;
    text-align: center;
  }

body {
        background-color: #f1dede;
    }

button:hover {
    background-color: #909580;
}