/*
MY COLOR PALETTE
Color 1 - #f1dede
Color 2 - #bbacc1
Color 3 - #80727b
Color 4 - #909580
Color 5 - #545643
*/

.button {
    background-color: #545643;
    color: white;
    font-size: 30px;
    border: none;
    width: 200px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px 25px 10px;
    margin-top: 30px;
    border-radius: 2px;
  }

body {
        background-color: #f1dede;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        text-align: center;
    }

button:hover {
    background-color: #909580;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: black;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #80727b;
}