@media screen {

    img {
        width:100%; 
        border-radius: 100%;
    }
    
    .image-container {
        max-width: 100%;
        height: auto;
        padding: 10px 0;
        text-align: center;
    }
    
    .image-container img {
        width: 100%;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .nav {
        width:100%;
    }

    .nav-link {
        color: #3A4E48
    }

    .nav-link:hover {
        background-color: #e2e2e2;
        color: #6a7b76;
    }   

    .container-fluid-topper {
        background-color: #3A4E48;
        color: white;
    }

    .container-fluid {
        background-color: #6a7b76;
    }

    .container-nav {
        background-color: #d8d4d5;
        margin: 8px 0px 8px 0px;
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
    }

    .container-body {
        background-color: #e2e2e2;
        margin: 8px 0px 8px 0px;
        padding: 10;
        border-radius: 5px;
    }

    .container-body {
        margin: 0px 20px 0px 20px;
        padding: 20px 20px 20px 12px;
    }

    .container-contact-info {
        background-color: #d8d4d5;
        margin: 8px 0px 8px 0px;
        padding: 15px 0px 20px 0px;
        border-radius: 5px;
    }

    footer {
        background-color: #3A4E48;
        color: white;
        padding: 0px;
        text-align: center;
    }

    .body {
        background-color: #6a7b76;
    }

    .test {
        margin: 0px 0px 0px 0px;
    }

    .col-sm-4 {
        padding: 80px 0px 150px 0px;    
    }

    hr {
        border: 3px, black;
        border-radius: 1px
    } 

    h1 {
        font-family: 'Merriweather', serif;
        letter-spacing: 4px;
    }

    h2 {
        font-family: 'Merriweather', serif;
    }

    h3 {
        font-family: 'Merriweather', sans-serif;
        font-style: italic;
        padding-bottom: 10px;
        border-bottom-style: solid;
    }

    h4 {
        font-family: 'Merriweather', serif;
        padding-bottom: 10px;
        border-bottom-style: solid;
    }

    p {
        font-family: 'Montserrat', serif;
    }

    li {
        font-family: 'Montserrat', serif;
    }

    .button {
        font-family: 'Montserrat', serif;
        background-color: #E2EABB;
        color: black;
        border-radius: 5px;
    }

    .contact-link {
        color: #3A4E48
    }

    .contact-link:hover {
        background-color: #e2e2e2;
        color: #6a7b76;
    }

}
/* End default media query */

/* Media query for desktop adjustments */
@media (min-width: 576px) {

    img {
        width:100%;
        margin: 0px 0px 0px 0px; 
        padding: 0px 0px 0px 0px;   
    }
    
    .col-sm-4 {
        padding: 120px 0px 50px 0px;
    }

    .container-fluid-topper {
        padding: 0px 0px 20px 0px;
    }
}